In [1]:
import pandas as pd
import numpy as np
import json
import os
import re
from sklearn.feature_extraction.text import TfidfTransformer, CountVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_curve, auc, confusion_matrix
from sklearn.pipeline import Pipeline
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer 
from nltk.corpus import wordnet
import string
import matplotlib.pyplot as plt
import sklearn.metrics as metrics
from nltk.tag import pos_tag
from sklearn.model_selection import train_test_split, KFold, StratifiedKFold, cross_val_score, cross_val_predict

Fontconfig warning: ignoring UTF-8: not a valid region tag

In [2]:
import sys
sys.executable

'/Users/jghosh2/opt/anaconda3/envs/py365/bin/python'

In [8]:
#pd.set_option('max_rows',None)
!pip install openpyxl

Looking in indexes: https://yoober11:****@pypi.uberinternal.com/index
Collecting openpyxl
  Downloading https://pypi.uberinternal.com/packages/packages/7b/60/9afac4fd6feee0ac09339de4101ee452ea643d26e9ce44c7708a0023f503/openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 242.1/242.1 kB 146.3 kB/s eta 0:00:00a 0:00:01
Collecting et-xmlfile
  Downloading https://pypi.uberinternal.com/packages/packages/96/c2/3dd434b0108730014f1b96fd286040dc3bcb70066346f7e01ec2ac95865f/et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10

In [9]:
def preprocess_text(message):

    #stopwords
    new_stopwords=['Hi','Hello','Team','Thanks','Hey','regards','please','jira','com','ext','image','Capture']
    stpwrd = nltk.corpus.stopwords.words('english')
    stpwrd.extend(new_stopwords)
    # 1. Init Lemmatizer
    lemmatizer = WordNetLemmatizer()
    #removing the numerical values and working only with text values
    message = re.sub('[^a-zA-Z]', " ", message )
    #lowering and removing punctuation
    message = re.sub(r'[^\w\s]','', message.lower())
    #removing the stopwords
    message = ' '.join([word for word in message.split() if word not in stpwrd and len(word)>1])
    #lemmatizing the text
    message =  " ".join([lemmatizer.lemmatize(w) for w in nltk.word_tokenize(message) if w not in string.punctuation])
    return message

In [20]:
#read input from historical data into dataframe
df_1 = pd.read_excel('/Users/jghosh2/Documents/my-notebook/L1 triage POC/data/Updated-JIRA_DUMP_Mar_2020_March_2022.xlsx',usecols=['Summary','Description','Component'])
df_1['Summary']=df_1['Summary'].astype(str)
df_1['Description']=df_1['Description'].astype(str)
df_1.dropna()

,Summary,Description,Component
0,Oracle OTM Access Request,"Sander de Jongh, [Sdejo2@ext.uber.com|mailto:S...",Oracle Transport Management
1,PO#467928 line not reflecting in oracle,"Hi Team,\n\n\nWe have received the invoice bel...",Coupa
2,TM1 Access Request,"Hello Team,_x000D_\n_x000D_\nIâ€™m from the St...",EPM/Hyperion
3,Invoice approver issue for EDEN SPRINGS NEDERL...,"Hello Team,\n\n\nFor the attached invoice#66/0...",Oracle Payables
4,<URGENT> Open PO in Oracle,"Hi Team,\n\n\nPlease open PO 471920 in Oracle ...",Coupa
...,...,...,...
44525,UBER B2B Receipt Process Status Report,== Created by JEMH via e-mail from: <oracle-w...,B2B
44526,PROD1 : Uber P2P Health Status Report : SCHEDULER,nan,Oracle Payables
44527,[Month End] New City Added Notification (Oracl...,"*Hi, **This is an automated notification for n...",DRM/DRG
44528,coupa,I don't seem to have access to Coupa anymore f...,Coupa
44529,Coupa,I don't seem to have access to Coupa anymore f...,Coupa

In [21]:
#choose sample data from entire data
data_df = df_1.sample(frac=1, random_state=42)
data_df['combined_text'] = data_df[['Summary','Description']].apply(lambda x: ' '.join(x[x.notnull()]), axis = 1)
# apply data preprocessing steps on the prepared column
data_df['processed_text'] = data_df['combined_text'].map(lambda s:preprocess_text(s)) 
#data_df['processed_text'] = data_df['combined_text'].apply(normalize, lowercase=True, remove_stopwords=True,remove_punctuation=True)
data_df.dropna()
print(data_df.shape)
data_df=data_df.drop_duplicates(subset=['processed_text','Component'],keep='first')
#print(data_df_duplicated.shape)
print(data_df.shape)
data_df = data_df.reset_index(drop=True)
#data_df['count']=data_df.groupby('Component')['Component'].transform('count')
#data_df_1=data_df[data_df['count']>1000]
#data_df_2=data_df[data_df['count']<1000]
#data_df_1_undersample=data_df_1.sample(frac=0.8,random_state=1)
#data_df_final=pd.concat([data_df_1_undersample,data_df_2])
X = data_df[['Summary','Description','processed_text']]
y = data_df['Component']

# split the cicd data into train and test 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .20,stratify=y, random_state = 42)

(44530, 5)
(39833, 5)

In [22]:
#data_df_1_undersample.shape,data_df_2.shape

In [23]:
X=X.astype('str')
y=y.astype('str')

In [24]:
print('Training data size: {}'.format(len(X_train)))
print('Test data size: {}'.format(len(X_test)))

Training data size: 31866
Test data size: 7967

In [25]:
#data_df_final['Component'].value_counts()

In [26]:
category_count = data_df.groupby(['Component'],sort=False).agg({'Component':'count'})
category_count.rename(columns={'Component':'count'},inplace=True)
category_count.sort_values('count',ascending=False)

                                count
Component
Coupa                            9934
Oracle Payables                  3590
Oracle Transport Management      2772
B2B                              2735
TrinTech                         2708
EPM/Hyperion                     2365
Oracle Administration            2259
Oracle General Ledger            2234
SailPoint/IIQ                    1489
Oracle Payments                  1439
DRM/DRG                          1143
Oracle Cash Management            983
Oracle Purchasing                 825
uCash                             824
uAccrue                           478
Kyriba                            420
T2C                               417
AGIS Intercompany                 406
Oracle Project Costing            288
uSurv                             283
Oracle Apex Reports               265
Oracle Fixed Asset                264
iCAN                              238
usupplier                         230
Concur                            228
DBA                               207
OTHERS                            197
Kofax                             190
Oracle Receivable                 163
uAllocate                          76
Oracle E B Tax                     76
Workday                            73
FDS                                28
Oracle Application Development      6

In [27]:
data_df.isnull().sum()

Summary           0
Description       0
Component         0
combined_text     0
processed_text    0
dtype: int64

In [ ]:
#from sklearn.linear_model import LogisticRegression

In [36]:
shallow_rf = Pipeline([('vect', CountVectorizer(ngram_range=(2,2),max_df=0.70)),
       ('tfidf', TfidfTransformer()),
       #('clf', RandomForestClassifier(class_weight='balanced'))])
       ('mnb', MultinomialNB(fit_prior=False,alpha=0.05))])
      # ('log', LogisticRegression(n_jobs=1, C=1e5))])

In [37]:
# perform model training
shallow_rf.fit(X_train['processed_text'].values, y_train.values)

/Users/jghosh2/opt/anaconda3/envs/py365/lib/python3.7/site-packages/sklearn/utils/validation.py:179: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  if LooseVersion(joblib_version) < '0.12':

Pipeline(memory=None,
         steps=[('vect',
                 CountVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.int64'>, encoding='utf-8',
                                 input='content', lowercase=True, max_df=0.7,
                                 max_features=None, min_df=1,
                                 ngram_range=(2, 2), preprocessor=None,
                                 stop_words=None, strip_accents=None,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, vocabulary=None)),
                ('tfidf',
                 TfidfTransformer(norm='l2', smooth_idf=True,
                                  sublinear_tf=False, use_idf=True)),
                ('mnb',
                 MultinomialNB(alpha=0.05, class_prior=None, fit_prior=False))],
         verbose=False)

In [38]:
# model prediction
result=X_test
y_pred = shallow_rf.predict(X_test['processed_text'].values)

result['original_cat']= y_test.values
result['predicted_cat'] = y_pred

result['prediction_cat_confscore'] = np.round_(np.max(shallow_rf.predict_proba(X_test['processed_text'].values), axis=1), decimals=2)

#
output = {'accuracy': accuracy_score(y_pred,y_test),'precision_score':precision_score(y_pred,y_test,average='weighted'),'recall_score':recall_score(y_pred,y_test,average='weighted')
,'f1_score':f1_score(y_pred,y_test,average='weighted')}

result['confusion_matrix'] = str(output)

/Users/jghosh2/opt/anaconda3/envs/py365/lib/python3.7/site-packages/sklearn/metrics/classification.py:1439: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)
/Users/jghosh2/opt/anaconda3/envs/py365/lib/python3.7/site-packages/sklearn/metrics/classification.py:1439: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)

In [39]:
result['confusion_matrix'] [5:6].values

array(["{'accuracy': 0.8070792017070415, 'precision_score': 0.8326670943749616, 'recall_score': 0.8070792017070415, 'f1_score': 0.8169292620205669}"],
      dtype=object)

In [ ]:
array(["{'accuracy': 0.8070792017070415, 'precision_score': 0.8326670943749616, 'recall_score': 0.8070792017070415, 'f1_score': 0.8169292620205669}"],
      dtype=object)

In [40]:
def confscorerange(x):
    #print(type(x))
    if x>0.90:
        y='90-100'
    elif 0.8<x<0.9:
        y='80-90'
    elif 0.7<x<0.8:
        y='70-80'
    elif 0.6<x<0.7:
        y='60-70'
    elif 0.5<x<0.6:
        y='50-60'
    elif 0.4<x<0.5:
        y='40-50'
    else:
        y='0-40'
    return y

In [41]:
result['range'] = result['prediction_cat_confscore'].map(lambda s:confscorerange(s))

In [42]:
(result['range'].value_counts()/8007)*100

90-100    70.388410
0-40       9.092044
80-90      6.119645
70-80      4.083927
60-70      3.809167
50-60      3.259648
40-50      2.747596
Name: range, dtype: float64

In [43]:
result['range'].describe()

count       7967
unique         7
top       90-100
freq        5636
Name: range, dtype: object

In [44]:
classification_report = metrics.classification_report(y_test, y_pred, output_dict=True)
display(pd.DataFrame(classification_report).transpose())

/Users/jghosh2/opt/anaconda3/envs/py365/lib/python3.7/site-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

                                precision    recall  f1-score      support
AGIS Intercompany                0.716049  0.716049  0.716049    81.000000
B2B                              0.909414  0.936015  0.922523   547.000000
Concur                           0.800000  0.695652  0.744186    46.000000
Coupa                            0.865205  0.933568  0.898088  1987.000000
DBA                              0.714286  0.365854  0.483871    41.000000
DRM/DRG                          0.840206  0.711790  0.770686   229.000000
EPM/Hyperion                     0.788571  0.875264  0.829659   473.000000
FDS                              1.000000  0.800000  0.888889     5.000000
Kofax                            0.937500  0.394737  0.555556    38.000000
Kyriba                           0.839080  0.869048  0.853801    84.000000
OTHERS                           0.333333  0.051282  0.088889    39.000000
Oracle Administration            0.725301  0.665929  0.694348   452.000000
Oracle Apex Reports              0.566667  0.320755  0.409639    53.000000
Oracle Application Development   0.000000  0.000000  0.000000     1.000000
Oracle Cash Management           0.715789  0.690355  0.702842   197.000000
Oracle E B Tax                   0.000000  0.000000  0.000000    15.000000
Oracle Fixed Asset               0.852941  0.547170  0.666667    53.000000
Oracle General Ledger            0.718954  0.738255  0.728477   447.000000
Oracle Payables                  0.670000  0.746518  0.706192   718.000000
Oracle Payments                  0.705882  0.750000  0.727273   288.000000
Oracle Project Costing           0.628571  0.379310  0.473118    58.000000
Oracle Purchasing                0.757764  0.739394  0.748466   165.000000
Oracle Receivable                0.000000  0.000000  0.000000    32.000000
Oracle Transport Management      0.948399  0.962094  0.955197   554.000000
SailPoint/IIQ                    0.608696  0.657718  0.632258   298.000000
T2C                              0.810345  0.566265  0.666667    83.000000
TrinTech                         0.878173  0.957565  0.916152   542.000000
Workday                          0.666667  0.142857  0.235294    14.000000
iCAN                             0.900000  0.375000  0.529412    48.000000
uAccrue                          0.902778  0.677083  0.773810    96.000000
uAllocate                        0.800000  0.533333  0.640000    15.000000
uCash                            0.915152  0.915152  0.915152   165.000000
uSurv                            0.857143  0.105263  0.187500    57.000000
usupplier                        0.785714  0.717391  0.750000    46.000000
accuracy                         0.807079  0.807079  0.807079     0.807079
macro avg                        0.710546  0.574608  0.612078  7967.000000
weighted avg                     0.800645  0.807079  0.797229  7967.000000

In [ ]:
result

In [ ]:
# check the misclassifications
misclassifications= result.loc[result['original_cat']!=result['predicted_cat']]

In [ ]:
misclassifications['predicted_cat'].value_counts()

In [46]:
import pickle
import joblib
import datetime
# save the model to disk
filename_primary= 'finalized_model.sav'
pickle.dump(shallow_rf, open(filename_primary, 'wb'))

In [45]:
train_size = 0.8
train_end = int(len(data_df)*train_size)
df_train = data_df[:train_end]
df_test = data_df[train_end:]
df_train = df_train[['Summary','Description','Component']]
df_test = df_test[['Summary','Description','Component']]
#train_size_cicd=0.02
#train_end_cicd = int(len(data_cicd_final)*train_size_cicd)
#df2_train = data_cicd_final[:train_end_cicd]
#df2_test = data_cicd_final[train_end_cicd:]
#df2_train = df2_train[['Item','Description','establishment_type','target']]
#df2_test = df2_test[['Item','Description','establishment_type','target']]
X_train_save = df_train
X_test_save = df_test
X_train_save['label'] = 'train'
X_test_save['label'] = 'test'
X_data = X_train_save.append(X_test_save)
X_data.to_csv('df_traintestdata.csv')

In [ ]:
import numpy as np
from sklearn.model_selection import GridSearchCV
grid_params = {
  'mnb__alpha': [0.01,0.05,0.1,0.2,0.3,0.4,0.5],
}
clf = GridSearchCV(shallow_rf, grid_params,n_jobs=-1,verbose=1)
clf.fit(X_train['processed_text'].values, y_train.values)
print("Best Score: ", clf.best_score_)
print("Best Params: ", clf.best_params_)

In [ ]:
import joblib
x=joblib.load('finalized_model.sav')

In [ ]:
#read input from historical data into dataframe
df_1= pd.read_csv('/Users/jghosh2/Documents/my-notebook/L1 triage POC/data/L1Triaging_TRack (1).csv', encoding='utf8',engine='python')
#choose sample data from entire data
df_1 = df_1.sample(frac=1, random_state=42)
#fill blanks with ''
df_1 = df_1.fillna('')
# combine the columns Item, Description and establishment_type into one column 'combined_text'
df_1['combined_text'] = df_1[['L1T_TicketSummary']].apply(lambda x: ' '.join(x[x.notnull()]), axis = 1)
# apply data preprocessing steps on the prepared column
df_1['processed_text'] = df_1['combined_text'].map(lambda s:preprocess_text(s)) 
print(df_1.shape)
df_1 = df_1.reset_index(drop=True)
y_pred = x.predict(df_1['processed_text'].values)
df_1['prediction_cat'] = y_pred
df_1['prediction_cat_confscore'] =np.round_(np.max(x.predict_proba(df_1['processed_text']), axis=1), decimals=2)
df_1.to_csv('L1Triaging_TicketDetails_after_tagging.csv')