In [60]:
# loading in modules
import sqlite3

# creating file path
dbfile = '/Users/jghosh2/Desktop/dataset 2/data.db'
import pandas as pd
import sqlite3
import sqlalchemy 
import numpy as np
try:
    conn = sqlite3.connect(dbfile)    
except Exception as e:
    print(e)

#Now in order to read in pandas dataframe we need to know table name
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(f"Table Name : {cursor.fetchall()}")

df_train = pd.read_sql_query('SELECT * FROM TRAIN', conn)
df_test = pd.read_sql_query('SELECT * FROM TEST', conn)

Table Name : [('TRAIN',), ('TEST',)]

In [61]:
df_train

,ID,Customer_Type,Customer_Age,Source_location_type,Destination_location_type,Distance,Peak,Traffic,Time,Weather,Is_weekend,Customer_demand,Price
0,0x2cd1,New,14.0,Inside_City,Outside_City,7.6,No,48.6,Morning,Sunny,No,7.36,6.84
1,0x10985,New,25.0,Outside_City,Inside_City,8.1,Yes,85.8,Midday,Sunny,No,6.42,8.71
2,0xae8d,New,19.0,Inside_City,Inside_City,13.1,No,86.0,Morning,Sunny,Yes,NaN,10.16
3,0x86ab,Regular,46.0,Inside_City,Inside_City,4.7,No,67.1,Midnight,Windy,No,6.19,13.44
4,0x8c,Inactive,52.0,Inside_City,Outside_City,2.6,No,39.8,Midday,Rainy,No,5.83,11.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...
57197,0x3779,New,29.0,Inside_City,Outside_City,7.9,No,####,Evening,Rainy,No,4.06,10.32
57198,0x666b,Passive,24.0,Outside_City,Outside_City,27.3,Yes,34.1,Night,Sunny,No,NaN,17.77
57199,0xcce,New,32.0,Inside_City,Outside_City,8.6,Yes,53.0,Midday,Windy,No,6.23,7.85
57200,0x3d49,Passive,29.0,Inside_City,Outside_City,11.5,Yes,45.7,Night,Rainy,Yes,4.89,13.88
57201,0xfe95,Passive,38.0,Inside_City,Outside_City,4.8,Yes,73.3,Morning,Windy,No,9.88,14.19

In [62]:
#df_train['Traffic'].value_counts()

In [63]:
df_train['Traffic']=df_train['Traffic'].replace('####',np.nan)

In [64]:
df_train=df_train.fillna(df_train.median())
#df_train['Category_of_customers']=df_train['Category_of_customers'].fillna(df_train['Category_of_customers'].mode()[0])

<ipython-input-64-dc65cd226c4f>:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_train=df_train.fillna(df_train.median())

In [65]:
df_test['Traffic']=df_test['Traffic'].replace('####',np.nan)

In [66]:
df_test=df_test.fillna(df_test.median())
#df_test['Category_of_customers']=df_test['Category_of_customers'].fillna(df_test['Category_of_customers'].mode()[0])

<ipython-input-66-76e91a643acb>:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_test=df_test.fillna(df_test.median())

In [67]:
from sklearn import preprocessing

le = preprocessing.LabelEncoder()
df_train['Customer_Type'] = le.fit_transform(df_train.Customer_Type.values)
df_test['Customer_Type'] = le.fit_transform(df_test.Customer_Type.values)
df_train['Source_location_type'] = le.fit_transform(df_train.Source_location_type.values)
df_test['Source_location_type'] = le.fit_transform(df_test.Source_location_type.values)
df_train['Destination_location_type'] = le.fit_transform(df_train.Destination_location_type.values)
df_test['Destination_location_type'] = le.fit_transform(df_test.Destination_location_type.values)
df_train['Peak'] = le.fit_transform(df_train.Peak.values)
df_test['Peak'] = le.fit_transform(df_test.Peak.values)
df_train['Time'] = le.fit_transform(df_train.Time.values)
df_test['Time'] = le.fit_transform(df_test.Time.values)
df_train['Weather'] = le.fit_transform(df_train.Weather.values)
df_test['Weather'] = le.fit_transform(df_test.Weather.values)
df_train['Is_weekend'] = le.fit_transform(df_train.Is_weekend.values)
df_test['Is_weekend'] = le.fit_transform(df_test.Is_weekend.values)

In [68]:
df_train.columns

Index(['ID', 'Customer_Type', 'Customer_Age', 'Source_location_type',
       'Destination_location_type', 'Distance', 'Peak', 'Traffic', 'Time',
       'Weather', 'Is_weekend', 'Customer_demand', 'Price'],
      dtype='object')

In [89]:
X_train=df_train[['Customer_Type', 'Customer_Age', 'Source_location_type',
       'Destination_location_type', 'Distance', 'Peak', 'Traffic', 'Time',
       'Weather', 'Is_weekend', 'Customer_demand']]
Y_train=df_train[['Price']]
X_test=df_test[['Customer_Type', 'Customer_Age', 'Source_location_type',
       'Destination_location_type', 'Distance', 'Peak', 'Traffic', 'Time',
       'Weather', 'Is_weekend', 'Customer_demand']]

In [77]:
#from sklearn.linear_model import LinearRegression
#regressor = LinearRegression()
#regressor.fit(X_train, Y_train)

LinearRegression()

In [90]:
#from sklearn.ensemble import RandomForestRegressor
#forest_reg = RandomForestRegressor(random_state=42)
#forest_reg.fit(X_train, Y_train)

In [78]:
#y_pred = regressor.predict(X_test)

In [73]:
#y_pred_random = forest_reg.predict(X_test)

In [99]:
from sklearn import ensemble
from sklearn.ensemble import GradientBoostingRegressor
model = ensemble.GradientBoostingRegressor(random_state=42)
model.fit(X_train, Y_train)

/Users/jghosh2/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

GradientBoostingRegressor(random_state=42)

In [100]:
y_pred_grad = model.predict(X_test)

In [101]:
df_sub=pd.DataFrame()
df_sub['ID']=df_test['ID']
df_sub['Price']=y_pred_grad

In [102]:
df_sub.to_csv('sample_submission.csv')